.background1{
    position: relative;
    background-image: url(images/3.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 550px;
}

@media(max-width: 900px){
    .navbar .nav-item{
        display: block;
        width: 100%;
        padding: 10px 0;
        text-align: center; 
    }
}

.font{
    font-family: 'Lobster', cursive;
    font-size: 30px;
    color: white;
    text-decoration: none;
}

.font:hover{
    color: rgb(187, 187, 187);
    text-decoration: none;
}

footer a{
    text-decoration: none;
    color: white;
}

footer a:hover{
    text-decoration: none;
    color: rgb(107, 255, 131);
}

footer li{
    list-style: none;
}